/* color copy from dreamweaver */
.aqua {
  color: aqua;
}
.aqua2 {
  background: aqua;
}
.black {
  color: black;
}
.black2 {
  background: black;
}
.blue {
  color: blue;
}
.blue2 {
  background: blue;
}
.fushcia {
  color: fushcia;
}
.fushcia2 {
  color: fushcia;
}
.gray {
  color: gray;
}
.gray2 {
  background: gray;
}
.green {
  color: green;
}
.green2 {
  background: green;
}
.lime {
  color: lime;
}
.lime2 {
  background: lime;
}
.maroon {
  color: maroon;
}
.maroon2 {
  background: maroon;
}
.olive {
  color: olive;
}
.olive2 {
  background: olive;
}
.purple {
  color: purple;
}
.purple2 {
  background: purple;
}
.red {
  color: red;
}
.red2 {
  background: red;
}
.silver {
  color: silver;
}
.silver2 {
  background: silver;
}
.teal {
  color: teal;
}
.teal2 {
  background: teal;
}
.white {
  color: white;
}
.white2 {
  background: white;
}
.yellow {
  color: yellow;
}
.yellow2 {
  background: yellow;
}
